
h1{
    background-color:black;
     color:aquamarine;
     margin: 0px;
     margin-bottom: 7px;
     padding: 30px;
     padding-left: 40px;
    border-style: solid;
     
    
 
 }
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;


   
}
.contain{
    height: 100vh;
    width: 100%;
    background: url(../static/pexels-lukas-574069.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;


}
@keyframes animate{
    0%{
        background-image: url(pexels-lumn-399160.jpg);
    }
}
.container{
    
   margin-left: 90px;

    
    
}
button{
    background-color:aquamarine;
    padding: 15px 40px;
   
    margin-left: 30px;
    margin-right: 90px;
    cursor: pointer;
    border: none;
    font-family: sans-serif;

}
.one:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }
.two:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }
.three:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }
   .four:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }

