<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/a2.css"   
</div>
    <center>
        <h1>ADMIN PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="condt.html"><button class="one"><strong>USER INFORMATION</strong></button></a>
       <a href="clrprod.html"><button class="two"><b>CLEAR STACK</b></button></a>
       <a href="medicine.html"><button class="three"><b>MEDICINE</b></button></a>
       <a href="views.html" ><button class="four"><B>VIEW</B></button></a>
    
    </form>
   
</div>

    
   
    {% endblock content %}
</body>
</html>