
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="static/style3.css">
    {% block content %}
    <div class="container">
        <h1>DELETE MEDICINE</h1>
        <form action="clrprod.html" method="post">
            {% csrf_token %}
        <label><b>MEDICINE TYPE</b></label>
        <input type="text" name="c1"><br>
        <input type="submit" name="c2" value="clear">
    </form>
   
    {% if status == 'yes' %}
    <script>
    alert('MEDICIAN DELETED')
    </script>
    {% endif %}
    </div>
    {% endblock content %}
</body>
</html>
