
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="static/hlogout.css">
    {% block content %}
    <div class="container">
        <h1>LOGOUT PAGE</h1>
        <form action="hlogout.html" method="post">
            {% csrf_token %}
        <label><b>HOSPITALNAME</b></label>
        <input type="text" name="c1"><br>

        <label><b>DEPT</b></label>
        <input type="text" name="c2"><br>

        <input type="submit" name="c3" value="LOGOUT">
   
   {% if status == 'yess' %}
   <script>
   alert('LOGOUT SUCCESSFULLY!..')
   </script>
   {% endif %}
    </form>
   
   
    </div>
    {% endblock content %}
</body>
</html>