<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/hospital.css"   
</div>
    <center>
        <h1>WELCOMES YOU!..</h1>
    </center>
<div class="container">

    
    
       <a href="cntus.html"><button class="one"><strong></strong>CONTACT US</button></a>
       <a href="clrstack.html"><button class="two"><b>CLEAR STACK</b></button></a>
       <a href="viewdt.html"><button class="three"><b>VIEWS</b></button></a>
       <a href="hlogout.html" ><button class="four"><B>LOGOUT</B></button></a>
    
    
   
</div>

    
   
    {% endblock content %}
</body>
</html>