<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/index1.css"   
</div>
    <center>
        <h1>EXPIRY DATE INFORMATION SYSTEM CONSUMER PRODUCT</h1>
    </center>
<div class="container">

       <button class="one"><strong>HOME</strong></button>
       <a href="admin.html"><button class="two"><b>ADMIN</b></button></a>
       <a href="user.html"><button class="three"><b>USER</b></button></a>
       <a href="hospital.html"><button class="five">HOSPITAL</button></a>
       <a href="reg.html" ><button class="four"><B>REGISTER</B></button></a>
    
   <p>The existing system was analyzed and problems were identified after data gathering. During the research work, data needed for the project was gathered from various sources. In gathering and collecting necessary data and information needed for system analysis, two major fact-finding techniques were used in this work and they are: Primary Source This refers to the sources of collecting original data in which the researcher made use of empirical approach such as personal interview and questionnaires
    </p>
</div>
 
    {% endblock content %}
</body>
</html>