
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style6.css">
    <title>Document</title>
</head>
<body>
{% block content %}
<div class="container">
    <h1>CONSUMER DETAILS</h1>
    <form action="meddt.html" method="post">
        {% csrf_token %}
    
    <label><b>MEDICINETYPE</b></label>
    <input type="text" name="pro1"><br>
    <label><b>MEDICINENAME</b></label>
    <input type="text" name="pro2"><br>
    <input type="submit" name="c4" value="search">
</form>
<table border="2" align="center" bgcolor="cyan">
    <tr><th colspan="7">MEDICINE DETAILS</th></tr>
    <tr><th>CONSUMERID</th><th>MEDICINE TYPE</th><TH>MEDICINE NAME</TH><TH>AMOUNT</TH><TH>MANUFACTUREDATE</TH><TH>EXPIRY DATE</TH><TH>QUANTITY</TH></tr>
    {% for i in result %}
    <tr>
        {% for j in i %}
        <td>{{j}}</td>
   
        {% endfor %}
    </tr>
        {% endfor %}
     </table>
</div>
{% endblock content %}
</body>
</html>