<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/admin2.css"   
</div>
    <center>
        <h1>ADMIN PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="addctg.html"><button class="one"><strong>ADD CATEGORY</strong></button></a>
       <a href="clrctg.html"><button class="two"><b>CLEAR CATOGARY</b></button></a>
       <a href="uplctg.html"><button class="three"><b>UPLOAD ARTICLE</b></button></a>
       <a href="viewact.html" ><button class="four"><B>VIEW</B></button></a>
    
    </form>
   
</div>

    
   
    {% endblock content %}
</body>
</html>