<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="static/style5.css">
    {% block content %}
    <div class="container">
        <h1>CLEAR CATEGORY</h1>
        <form action="clrctg.html" method="post">
            {% csrf_token %}
        <label><b>POSTID</b></label>
        <input type="text" name="c1"><br>
        <input type="submit" name="c2" value="clear">
    </form>
    {{status}}
    </div>
    {% endblock content %}
</body>
</html>