<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/comments.css">
    <title>Document</title>
</head>
<body bgcolor="bisque">
{% block content %}
    
    <div class="container">
        <h1>COMMENTS</h1>
<form action="comment.html" method="post">
            {% csrf_token %}
        <label><b>POSTID</b></label>
        <input type="text" name="cmt1"><br>
        <input type="submit" name="c4" value="search">

    
    
    <table border="2" align="center" bgcolor="cyan">
        <tr><th colspan="6">CATEGORY DETAILS</th></tr>
        <tr><th>POSTID</th><th>POSTTITTLE</th><TH>POSTCATEGORY</TH><TH>POSTDESCRIPTION</TH><TH>DATE</TH><TH>COMMENT</TH></tr>
        {% for i in result %}
        <tr>
            {% for j in i %}
            <td>{{j}}</td>
       
            {% endfor %}
        </tr>
            {% endfor %}
         </table>
         
    </div>

  
</form>
<div class="c1">
<a href="cmtsec.html"><button>COMMENT SECTION</button></a>
</div>
    {% endblock content %}
</body>
</html>
 