<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/style7.css"   
</div>
    <center>
        <h1>USER PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="postadd.html"><button class="one"><strong>POSTADD</strong></button></a>
       <a href="news.html"><button class="two"><b>NEWS FEED</b></button></a>
       <a href="comment.html"><button class="three"><b>COMMENTS</b></button></a>
       <a href="recomend.html" ><button class="four"><B>RECOMMENDATION</B></button></a>
    
    </form>
   
</div>

    
   
    {% endblock content %}
</body>
</html>