<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/cs.css"   
</div>
    <center>
        <h1>CLOUDLET</h1>
    </center>
<div class="container">
       <a href="profile.html"><button class="one"><strong>USER DETAILS</strong></button></a>
       <a href="deluser.html"><button class="two"><b>DELETE USER</b></button></a>
       <a href="viewreq.html"><button class="three"><b>VIEW REQUEST</b></button></a>
       <a href="rply.html"><button class="three"><b>VIEW COMMENTS</b></button></a>
</div>
{% endblock content %}
</body>
</html>