<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/loadd.css"   
</div>
    <center>
        <h1>LOAD BALANCER</h1>
    </center>
<div class="container">
       <a href="upldt.html"><button class="one"><strong>UPLOAD DATA</strong></button></a>
       <a href="viewsch.html"><button class="two"><b>VIEW SCHEDULE</b></button></a>
       <a href="index.html"><button class="three"><b>LOGOUT</b></button></a>

</div>
{% endblock content %}
</body>
</html>