
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pro.css">
    <title>Document</title>
</head>
<body>
{% block content %}
<div class="container">
    <h1>SCHEDULE FOR ACCESSING SERVER
    </h1>
    <form action="viewsch.html" method="post">
        {% csrf_token %}
    <label><b>SCHEDULE INFORMATION</b></label>
   
    <input type="submit" name="c3" value="view">
</form>
<table border="2" align="center" bgcolor="cyan">
    <tr><th colspan="7">DATA</th></tr>
    <tr><th>USERID</th><th>NAME</th><TH>SCHEDULE</TH></tr>
    {% for i in result %}
    <tr>
        {% for j in i %}
        <td>{{j}}</td>
   
        {% endfor %}
    </tr>
        {% endfor %}
     </table>
</div>
{% endblock content %}
</body>
</html>
