<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/USER2.css"   
</div>
    <center>
        <h1>ADMIN PANEL</h1>
    </center>
<div class="container">
       <a href="profile.html"><button class="one"><strong>PROFILE</strong></button></a>
       <a href="req.html"><button class="two"><b>REQUEST TO CLOUD</b></button></a>
       <a href="comment.html"><button class="three"><b>COMMENTS</b></button></a>
       <a href="delete.html"><button class="three"><b>DELETE REQUEST</b></button></a>
</div>
{% endblock content %}
</body>
</html>