<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/adm2.css"   
</div>
    <center>
        <h1>ADMIN PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="addp.html"><button class="one"><strong>ADD PRODUCTS</strong></button></a>
       <a href="viewsselpr.html"><button class="two"><b>VIEWS PRODUCTS</b></button></a>
       <a href="viewu.html"><button class="three"><b>VIEW USER</b></button></a>
       <a href="views.html"><button class="four"><b>VIEW SELLER</b></button></a>
</div>
{% endblock content %}
</body>
</html>