<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/ind.css"   
</div>
    <center>
        <h1>ONLINE ORGANIC HEALTH FOOD STORE PROJECT</h1>
    </center>
<div class="container">

    
    
       <button class="one"><strong>HOME</strong></button>
       <a href="admin.html"><button class="two"><b>ADMIN</b></button></a>
       <a href="user.html"><button class="three"><b>USER</b></button></a>
       <a href="seller.html" ><button class="four"><B>SELLER</B></button></a>
       <a href="reg.html" ><button class="four"><B>REGISTER</B></button></a>
    

   
</div>

    
   
    {% endblock content %}
</body>
</html>