<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/seller2.css"   
</div>
    <center>
        <h1>SELLER PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="selpro.html"><button class="one"><strong>PROFILE</strong></button></a>
       <a href="addps.html"><button class="two"><b>ADD PRODUCTS</b></button></a>
       <a href="viewsp.html"><button class="three"><b>VIEW PRODUCTS</b></button></a>
       <a href="logout.html"><button class="four"><b>LOGOUT</b></button></a>
</div>
{% endblock content %}
</body>
</html>
