<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/user2.css"   
</div>
    <center>
        <h1>USER PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="viewsupro.html"><button class="one"><strong>VIEW PRODUCTS</strong></button></a>
       <a href="ordpro.html"><button class="two"><b>ORDER PRODUCTS</b></button></a>
       <a href="track.html"><button class="three"><b>TRACK OREDER</b></button></a>
       <a href="logoutu.html"><button class="four"><b>LOGOUT</b></button></a>
</div>
{% endblock content %}
</body>
</html>
