
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/views.css">
    <title>Document</title>
</head>
<body>
{% block content %}
<div class="container">
    <h1>SELLER INFORMATION</h1>
    <form action="views.html" method="post">
        {% csrf_token %}
    <label><b>VIEW THE DETAILS</b></label>
   
    <input type="submit" name="c3" value="search">
</form>
<table border="2" align="center" bgcolor="cyan">
    <tr><th colspan="10">DETAILS</th></tr>
    <tr><th>USERID</th><th>SELLER NAME</th><TH>MOBILE</TH><TH>EMAIL</TH><TH>PASSWORD</TH><TH>GENDER</TH><th>DATE</th></tr>
    {% for i in result %}
    <tr>
        {% for j in i %}
        <td>{{j}}</td>
   
        {% endfor %}
    </tr>
        {% endfor %}
     </table>
</div>
{% endblock content %}
</body>
</html>
