<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/a2.css"   
</div>
    <center>
        <h1>ANALYSER PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="cntser.html"><button class="one"><strong>CONNECT SERVER</strong></button></a>
       <a href="behvior.html"><button class="two"><b>BEHAVIOUR</b></button></a>
       <a href="vpurchased.html"><button class="three"><b>PURCHASED SATELLITE</b></button></a>
       <a href="products.html"><button class="three"><b>PRODUCT</b></button></a>
       <a href="report.html"><button class="three"><b>REPORT</b></button></a>
</div>
{% endblock content %}
</body>
</html>
