<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/i.css"   
</div>
    <center>
        <h1>SATELLITE INFORMATION SYSTEM</h1>
    </center>
<div class="container">

    
    
       <button class="one"><strong>HOME</strong></button>
       <a href="user.html"><button class="two"><b>USER</b></button></a>
       <a href="analyser.html"><button class="three"><b>ANALYZER</b></button></a>
       <a href="server.html" ><button class="four"><B>SERVER</B></button></a>
       <a href="register.html" ><button class="four"><B>REGISTER</B></button></a>
    

   
</div>
  
   
    {% endblock content %}
</body>
</html>
