<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/s2.css"   
</div>
    <center>
        <h1>SERVER PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="customer.html"><button class="one"><strong>CUSTOMER</strong></button></a>
       <a href="ordsat.html"><button class="two"><b>ORDER SATELLITE</b></button></a>
       <a href="addpro.html"><button class="three"><b>ADD PRODUCTS</b></button></a>
       <a href="checkb.html"><button class="three"><b>CHECH BEHAVIOUR</b></button></a>
       <a href="dailysales.html"><button class="three"><b>DAILY SALES</b></button></a>
</div>
{% endblock content %}
</body>
</html>