<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/u2.css"   
</div>
    <center>
        <h1>USER PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="views.html"><button class="one"><strong>VIEW SATELLITE</strong></button></a>
       <a href="purchased.html"><button class="two"><b>PURCHASED</b></button></a>
       <a href="upldel.html"><button class="three"><b>UPDATE DELEVERY</b></button></a>
       <a href="feedback.html"><button class="three"><b>FEEDBACK</b></button></a>
</div>
{% endblock content %}
</body>
</html>
