
h1{
    background-color:black;
     color:khaki;
     margin: 0px;
     margin-bottom: 7px;
     padding: 40px;
     padding-left: 140px;
    border-style: solid;
     
    
 
 }
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;


   
}
.contain{
    height: 100vh;
    width: 100%;
    background: url(hs3.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;


}
@keyframes animate{
    0%{
        background-image: url(hs1.avif);
    }
    20%{
        background-image: url(hs2.avif);
    }
}
.container{
    
   margin-left: 90px;

    
    
}
button{
    background-color:powderblue;
    padding: 10px 40px;
   
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    border: none;
    font-family: sans-serif
    ;

}
.one:hover{
    background-color:blue;
    box-shadow: 0px 0px 35px blue;
   }
.two:hover{
    background-color: blue;
    box-shadow: 0px 0px 35px blue;
   }
.three:hover{
    background-color: blue;
    box-shadow: 0px 0px 35px blue;
   }
   .four:hover{
    background-color: blue;
    box-shadow: 0px 0px 35px blue;
   }
   .five:hover{
    background-color: blue;
    box-shadow: 0px 0px 35px blue;
   }

p{
    color: blue;
    padding-top: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
