<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/clo.css"   
</div>
    <center>
        <h1>CLOUD SERVER</h1>
    </center>
<div class="container">
       <a href="cloud.html"><button class="one"><strong>HOME</strong></button></a>
       <a href="cserver.html"><button class="two"><b>CLOUD SERVER</b></button></a>
       <a href="cloudimage.html"><button class="three"><b>CLOUD IMAGE</b></button></a>
       <a href="index.html"><button class="three"><b>LOGOUT</b></button></a>
</div>
{% endblock content %}
</body>
</html>