<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/i.css"   
</div>
    <center>
        <h1>DATA INTEGRITY</h1>
    </center>
<div class="container">

    
    
       <a href="index.html"><button class="one"><strong>HOME</strong></button></a>
       <a href="dataown.html"><button class="two"><b>DATA OWNER</b></button></a>
       <a href="keygen.html"><button class="three"><b>KEY GENERATION</b></button></a>
       <a href="auditting.html"><button class="three"><b>AUDITING</b></button></a>
       <a href="cloud.html"><button class="three"><b>CLOUD SERVER</b></button></a>
</div>
{% endblock content %}
</body>
</html>