<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/do2.css"   
</div>
    <center>
        <h1>KEY GENERATION</h1>
    </center>
<div class="container">

    
    
       <a href=""><button class="one"><strong>HOME</strong></button></a>
       <a href="keym.html"><button class="two"><b>KEY GENERATION</b></button></a>
       <a href=""><button class="three"><b>LOGOUT</b></button></a>
</div>
{% endblock content %}
</body>
</html>