<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/ad2.css"   
</div>
    <center>
        <h1>ADMIN PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="lrnadm.html"><button class="one"><strong>LEARNER ADMISSION</strong></button></a>
       <a href="addfac.html"><button class="two"><b>ADD NEW FACULTY</b></button></a>
       <a href="pmet.html"><button class="three"><b>PROVIDE MATERIAL</b></button></a>
</div>
{% endblock content %}
</body>
</html>