<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/ask.css">
</head>
<body bgcolor="darksalmon">
    
    <div class="container">
        <h1>ASK QUESTION</h1>
    <form action="ask.html" method="post">
        {% csrf_token %}
    <div class="title">STUDENT NAME<input type="text" name="S1"></div>
    <div class="title">
        QUERY
        <textarea name="S2"></textarea>
    </div>
    <input type="submit" name="s3"  value="upload">
  
    {% if result == 'yes' %}
    <script>
    alert('question send!..')
    </script>
{% endif %}
    </form>
</div>
</body>
</html>
