<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/index.css"   
</div>
    <center>
        <h1>LEARNING MANAGEMENT SYSTEM</h1>
    </center>
<div class="container">

    
    
       <button class="one"><strong>HOME</strong></button>
       <a href="learn.html"><button class="two"><b>LEARNER MODULE</b></button></a>
       <a href="admin.html"><button class="three"><b>ADMIN MODULE</b></button></a>
       <a href="faculty.html" ><button class="four"><B>FACULTY MODULE</B></button></a>
    

   
</div>
<P><b>E-learning, also referred to as online learning or electronic learning, is the acquisition of knowledge that takes place through electronic technologies and media. In simple language, e-learning is defined as “learning that is enabled electronically.” Typically, e-learning is conducted on the Internet, where students can access their learning materials online at any place and time. E-learning most often takes place in the form of online courses, online degrees, or online programs. There are many different examples of e-learning out there, which we’ve covered in greater detail in our previous articles.</b></P>

    
   
    {% endblock content %}
</body>
</html>