<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/l2.css"   
</div>
    <center>
        <h1>LEARNING MODULE</h1>
    </center>
<div class="container">
       <a href="lrn.html"><button class="one"><strong>LEARN</strong></button></a>
       <a href="ask.html"><button class="two"><b>ASK QUERY</b></button></a>
       <a href="recsln.html"><button class="three"><b>RECEIVE SOLUTION</b></button></a>
</div>
{% endblock content %}
</body>
</html>