<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/com.css"   
</div>
    <center>
        <h1>COMPANY PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="placement.html"><button class="one"><strong>PLACEMENT</strong></button></a>
       <a href="viewapp.html"><button class="two"><b>CHECK APPLICATION</b></button></a>
       <a href="sndrep.html"><button class="three"><b>GENERATE REPORT</b></button></a>
       <a href="viewstu.html" ><button class="four"><B>VIEW STUDENTS</B></button></a>
    

   
</div>

    
   
    {% endblock content %}
</body>
</html>