<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/man.css"   
</div>
    <center>
        <h1>MANAGEMENT</h1>
    </center>
<div class="container">

    
    
       <a href="addc.html"><button class="one"><strong>ADD COMPANY</strong></button></a>
       <a href="viewapp.html"><button class="two"><b>VIEW APPLICATION</b></button></a>
       <a href="viewgen.html"><button class="three"><b>SELECTED LIST</b></button></a>
       <a href="delcmpy.html" ><button class="four"><B>REMOVE COMPANY</B></button></a>
    

   
</div>

    
   
    {% endblock content %}
</body>
</html>