<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/place.css">
    <title>SEND APPLICATION</title>
</head>
<body>
   {% block content %}
   
    <div class="container">
        <div class="container_title">
            <h1><b>PLACEMENT TRAINING</b></h1>
        </div>
        <form action="placement.html" method="post">
            {% csrf_token %}
        <div class="input_box">
            <span class="details">COMPANY NAME</span>
            <input type="text" name="r1" placeholder="COMPANY NAME">
        </div><BR>
        <div class="input_box">
            <span class="details">COMPANY TYPE</span>
                <input type="text" name="r2" placeholder="COMPANY TYPE">
        </div><BR>
           
        <div class="input_box">
           
            <span class="details">JOBROLE</span>
            <input type="text" name="r3" placeholder="JOBROLE">
        </div><BR>

        <div class="input_box">
                   MATERIAL
                    <textarea name="r4"></textarea>
                </div>

            <div class="input_box">
                <input type="submit" name="s1">
                {{result}}
            </div><br>
            
        </form>
    </div>
   {% endblock content %}
</body>
</html>
