<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/place.css">
    <title>SEND APPLICATION</title>
</head>
<body>
   {% block content %}
   
    <div class="container">
        <div class="container_title">
            <h1><b>GENERATE REPORT</b></h1>
        </div>
        <form action="sndrep.html" method="post">
            {% csrf_token %}
        <div class="input_box">
            <span class="details">STUDENT NAME</span>
            <input type="text" name="r1" placeholder="STUDENT NAME">
        </div><BR>
       
        <div class="input_box">
                   REPORT
                    <textarea name="r2"></textarea>
                </div>

            <div class="input_box">
                <input type="submit" name="s1">
                {{result}}
            </div><br>
            
        </form>
    </div>
   {% endblock content %}
</body>
</html>