<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/stu2.css"   
</div>
    <center>
        <h1>STUDENT PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="viewcmp.html"><button class="one"><strong>SEARCH COMPANY</strong></button></a>
       <a href="viewplace.html"><button class="two"><b>PLACEMENT</b></button></a>
       <a href="sndapp.html"><button class="three"><b>SEND APPLICATION</b></button></a>
       <a href="viewgen.html" ><button class="four"><B>SELECTED LIST</B></button></a>
    

   
</div>

    
   
    {% endblock content %}
</body>
</html>