
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style1.css">
    <title>Document</title>
</head>
<body>
{% block content %}
<div class="container"> 
    <h1>REPORT</h1>
    <form action="test.html" method="post">
        {% csrf_token %}
    <label><b>SEARCH</b></label>
    <input type="text" name="rec1"><br>
    <input type="submit" name="c3" value="search">
</form>
<table border="2" align="center" bgcolor="cyan">
    <tr><th colspan="8">STUDENTS DATA</th></tr>
    <tr><th>STUDENT ID</th><TH>STUDENT NAME</TH><TH>REPORT</TH></tr>
    {% for i in result %}
    <tr>
        {% for j in i %}
        <td>{{j}}</td>
   
        {% endfor %}
    </tr>
        {% endfor %}
     </table>
</div>
{% endblock content %}
</body>
</html>
