
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/viewc.css">
    <title>Document</title>
</head>
<body>
{% block content %}
<div class="container">
    <h1>LEARN</h1>
    <form action="viewapp.html" method="post">
        {% csrf_token %}
    <label><b>VIEW THE APPLICATION</b></label>
   
    <input type="submit" name="c3" value="search">
</form>
<table border="2" align="center" bgcolor="cyan">
    <tr><th colspan="10">STUDENT APPLICATION</th></tr>
    <tr><th>STUDENT ID</th><th>STUDENT NAME</th><th>MOBILE</th><TH>EMAIL</TH><TH>DATE</TH><TH>APPLICATION</TH></tr>
    {% for i in result %}
    <tr>
        {% for j in i %}
        <td>{{j}}</td>
   
        {% endfor %}
    </tr>
        {% endfor %}
     </table>
</div>
{% endblock content %}
</body>
</html>
