<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/cloud2.css"   
</div>
    <center>
        <h1>CLOUDLET</h1>
    </center>
<div class="container">

    
    
       <a href="doctorreg.html"><button class="one"><strong>ADD DOCTOR</strong></button></a>
       <a href="doctorinfo.html"><button class="two"><b>DOCTOR INFORMATION</b></button></a>
       <a href="viewpat.html"><button class="three"><b>VIEW PATIENTS</b></button></a>
       <a href="intruderc.html" ><button class="four"><B>INTRUDER DETAILS</B></button></a>
    
    </form>
   
</div>

    
   
    {% endblock content %}
</body>
</html>