<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/dct2.css"   
</div>
    <center>
        <h1>DOCTOR PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="prq.html"><button class="one"><strong>PATIENT REQUEST</strong></button></a>
       <a href="pinfo.html"><button class="two"><b>PATIENT INFORMATION</b></button></a>
       <a href="hreport.html"><button class="three"><b>HEALTH REPORT</b></button></a>
       <a href="prescripd.html" ><button class="four"><B>PRESCRIPTION</B></button></a>
    
    </form>
   
</div>

    
   
    {% endblock content %}
</body>
</html>