<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/i.css"   
</div>
    <center>
        <h1>PRIVACY PROTECTION AND INTRUSION AVOIDANCE FOR CLOUDLET-BASED MEDICAL DATA SHARING</h1>
    </center>
<div class="container">

       <button class="one"><strong>HOME</strong></button>
       <a href="patient.html"><button class="two"><b>PATIENTS</b></button></a>
       <a href="doctor.html"><button class="three"><b>DOCTOR</b></button></a>
       <a href="cloudlet.html" ><button class="four"><B>CLOUDLET</B></button></a>
       <a href="intruder.html"><button class="five"><b>INTRUDER</b></button></a>
       <a href="reg.html"><button class="five"><b>REGISTER</b></button></a>
      
    
   
</div>
<p>With the ubiquity of wearable gadgets, alongside the advancement of clouds and cloudlet innovation, there has been expanding need to give better medical care. The preparing chain of medical information mostly incorporates information accumulation, information stockpiling and information sharing, and so forth. Customary medicinal services system regularly requires the conveyance of medical information to the cloud, which includes clients' delicate data and causes correspondence vitality utilization. For all intents and purposes, medical information sharing is a basic and testing issue. 
    Subsequently, In this project, it develops a novel social insurance system by using the adaptability of cloudlet. The elements of cloudlet incorporate security insurance, information sharing and intrusion detection. In the phase of information accumulation, we initially use Number Theory Research Unit (NTRU) strategy to scramble client's body information gathered by wearable gadgets. That information will be transmitted to close cloudlet in a vitality productive design. Furthermore, we exhibit another trust model to help clients to choose trustable accomplices who need to share put away information in the cloudlet. The trust display additionally causes comparable patients to speak with each other about their infections.
    This project suggests a cloudlet-based healthcare system in response to the issues outlined in this research. In addition, the data is sent to a distant cloud, where clinicians may use it for illness diagnosis and treatment plans. Its categories privacy protection into three phases based on the order in which the data is sent. To begin with, wearable devices send their data to a cloudlet closet gateway, where it is processed. Data security is the primary issue at this point. Cloudlets will be used in the second step to transport user data to a distant cloud.  These systems combine well-being detection with medical data collection and analysis. Next, cloud computing is mentioned because it may be able to provide more flexible and cost-effective delivery of human services.
    
    </p>
 
    {% endblock content %}
</body>
</html>