<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/patient2.css"   
</div>
    <center>
        <h1>PATIENT PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="sndap.html"><button class="one"><strong>SEND APPOINTMENT</strong></button></a>
       <a href="rqfdc.html"><button class="two"><b>REQUEST FROM DOCTOR</b></button></a>
       <a href="prescriptionp.html"><button class="three"><b>PRESCRIPTION</b></button></a>
       <a href="logoutp.html" ><button class="four"><B>LOGOUT</B></button></a>
    
    </form>
   
</div>

    {% endblock content %}
</body>
</html>