<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/presc.css">
    <title>DOCTOR PRESCRIPTION</title>
</head>
<body bgcolor="wheat">
   {% block content %}
   
    <div class="container">
        <div class="container_title">
            <h1><b>DOCTOR PRESCRIPTION</b></h1>
        </div>
        <form action="prescripd.html" method="post">
            {% csrf_token %}
        <div class="input_box">
            <span class="details">PATIENT NAME</span>
            <input type="text" name="r1" placeholder="ENTER NAME">
        </div><BR>

        <div class="input_box">
            <span class="details">DEPTARTMENT</span>
            <input type="text" name="r2" placeholder="DEPTARTMENT">
        </div><BR>
        <div class="input_box">
            <span class="details">AGE</span>
                <input type="text" name="r3" placeholder="AGE">
        </div><BR>
           
          

            <div class="input_box">
                <span class="details1">GENDER</span>
                    <input type="radio" name="r4" value="male">MALE
                    <input type="radio" name="r4" value="female">FEMALE 
            </div><BR>

           
                <div class="input_box">
                    <span class="details">DATE</span>
                    <input type="date" name="r5" placeholder="DATE">
                </div><BR>
                
                    <div class="input_box">
                        <span class="details">PRESCRIPTION</span>
                        <textarea name="r6"></textarea>
                    </div>

            <div class="input_box">
                <input type="submit" name="s1">
                {{result}}
            </div><br>
            
        </form>
        
    </div>
   {% endblock content %}
</body>
</html>