<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/ad2.css"   
</div>
    <center>
        <h1>ADMIN PANEL</h1>
    </center>
<div class="container">

    
    
       <a href="viewdt.html"><button class="one"><strong>VIEW DETAILS</strong></button></a>
       <a href="assignbug.html"><button class="two"><b>ASSIGNBUG</b></button></a>
       <a href="viewslnad.html"><button class="three"><b>SOLUTION</b></button></a>
       <a href="index.html"><button class="three"><b>LOGOUT</b></button></a>

</div>
{% endblock content %}
</body>
</html>
