<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/REG.css">
</head>
<body bgcolor="rosybrown">
    <h1>REGISTRATION</h1>
    <a href="userreg.html"><button class="one"><b>USER REGISTER</b></button></a>
    <a href="treg.html"><button class="one"><b>TESTER REGISTER</b></button></a>
    <a href="dreg.html"><button class="one"><b>DEVELOPER REGISTER</b></button></a>
</body>
</html>