<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/asbug.css">
    <title>COMMENTS</title>
</head>
<body>
   {% block content %}
   
    <div class="container">
        <div class="container_title">
            <h1><b>SEND REPORT</b></h1>
        </div>
        <form action="sndrpt.html" method="post">
            {% csrf_token %}
        <div class="input_box">
            <span class="details">BUGID</span>
            <input type="text" name="r1" placeholder="ENTER NAME">
        </div><BR>
            
            <div class="title">
              SOLUTION
                <textarea name="r2"></textarea>
            </div>
            <div class="title">
                PROBLEM DESCRIPTION
                  <textarea name="r3"></textarea>
              </div>
              <div class="title">
                SOLUTION DESCRIPTION
                  <textarea name="r4"></textarea>
              </div>
            <div class="input_box">
                <span class="details">DATE</span>
                <input type="date" name="r5" placeholder="DATE OF SUBMISSION">
            </div><BR>
         
            <div class="input_box">
                <input type="submit" name="s1">
                {{result}}
            </div><br>
            
        </form>
    </div>
   {% endblock content %}
</body>
</html>
