<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% block content %}
<div class="contain">
   <link rel="stylesheet" href="static/use2.css"   
</div>
    <center>
        <h1>USER PANEL</h1>
    </center>
<div class="container">

    
       <a href="uprofile.html"><button class="one"><strong>PROFILE</strong></button></a>
       <a href="addbug.html"><button class="one"><strong>ADD BUG</strong></button></a>
       <a href="viewslnus.html"><button class="two"><b>VIEW SOLUTION</b></button></a>
       <a href="index.html"><button class="three"><b>LOGOUT</b></button></a>
</div>
{% endblock content %}
</body>
</html>
