<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/REG.css">
</head>
<body bgcolor="rosybrown">
    <h1>VIEW INFORMATION</h1>
    <a href="udata.html"><button class="one"><b>USER DATA</b></button></a>
    <a href="tdata.html"><button class="one"><b>TESTER DATA</b></button></a>
    <a href="ddata.html"><button class="one"><b>DEVELOPER DATA</b></button></a>
</body>
</html>