.container{
    margin-top: 100px;
    text-align: center;
}
label{
    color: blue;
    text-size-adjust: 20%;
}

body{
background-color: antiquewhite;
}
.container1{
    margin-top: 200px;
    text-align: center;
    margin-left: 2%;

    
}
.container1 label
{
    font-size: 70px;
    color: aqua;
    font-weight: 600;
}
button{
    margin-top: 200px;
    text-align: center;
    margin-left: 2%;

}
button{
    color: blue;
    }

.c1{
    text-align: center;
}