h1{
    background-color:black;
     color:rosybrown;
     margin: 0px;
     margin-bottom: 7px;
     padding: 40px;
     padding-left: 140px;
    border-style: solid;
     
    
 
 }
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;


   
}
.contain{
    height: 100vh;
    width: 100%;
    background: url(../static/scm3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;


}
@keyframes animate{
    0%{
        background-image: url(pexels-muffin-creatives-1629998.jpg);
    }
    20%{
        background-image: url(tree2.jpg);
    }
}
.container{
    
   margin-left: 90px;

    
    
}
button{
    background-color:rosybrown;
    padding: 18px 60px;
   
    margin-left: 20px;
    margin-right: 90px;
    cursor: pointer;
    border: none;
    font-family: sans-serif
    ;

}
.one:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }
.two:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }
.three:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }
   .four:hover{
    background-color: yellow;
    box-shadow: 0px 0px 35px yellow;
   }

p{
    color: rosybrown;
    padding-top: 150px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
